
# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
terraform.tfvars

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# IDE
.vscode/
.idea/
